.wrapperItem {
  display: flex;
  margin-top: 15px;
  padding: 5px 10px;
  border-radius: 10px;
  box-shadow: #00000014 0px 2px 15px;
}
.title {
}
.imgItem {
  height: 80px;
  border-radius: 10px;
}
.icon {
  height: 20px;
  object-fit: cover;
  border-radius: 10px;
}
.likeWrapper {
  display: flex;
  justify-content: center;
  gap: 5px;
}