.button {
    border: none;
    background-color: slateblue;
    color: white;
    padding: 10px;
    min-width: 70px;
    border-radius: 10px;
}
.textAreaBlock {
    border-radius: 10px;
    padding: 10px;
    box-shadow: #00000014 0px 2px 15px;
}