.item_post{
    margin-top: 15px;
    margin-top: 15px;
}

.item_post>img{
    object-fit: cover;
    width: 100px;
    border-radius: 10px;
}
.img {
    height: 20px;
    width: 20px;
}
.like-wrapper {
    min-width: 30px;
    borger: 1px solid
}