.wrapperUsers {
  display: grid;
  gap: 5px;
}
.userItem {
  display: grid;
  grid-template: 1fr / 70px 1fr;
  gap: 5px;
}
.userIcon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2px;
}
.userContent {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  font-size: 12px;
  border: 1px solid #d1cfcf;
  border-radius: 5px;
}
.userNameWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.selectedPage {
  font-weight: bold;
  font-size: 18px;
  padding: 3px;
}
